<h1>Proposal</h1>
<p>
  <style>
table, th, td {
    border: 1px solid green;
}th, td {
    padding: 5px;
}
</style>
  <table style="width:80%; margin: auto; border:"" %>
    <tr>
  <th>Name:</th>
  <th>Title:</th>
  <th>Proposal:</th>
</tr>
<tr>
  <td><%= @topic.name %></td>
  <td><%= @topic.title %></td>
  <td> <%= @topic.proposal %></td>
</table>

<h1 style="color:green;">Votes to date</h1>


<table style= "width:80; margin: auto;"%>
<tr>
    <% Topic.listings.each do |listing| %>
      <th><%= listing %></th>
    <% end %>
  </tr>
   <tr>
     <td><%= @topic.Angie_vote%></td>
     <td><%= @topic.Clare_vote%></td>
     <td><%= @topic.Debbie_vote%></td>
     <td><%= @topic.Helen_vote%></td>
     <td><%= @topic.Sarah_vote%></td>
     <td><%= @topic.Vicky_vote%></td>
     <td><%= @topic.David_vote%></td>
     <td><%= @topic.Mike_vote%></td>
     <td><%= @topic.Howard_vote%></td>
    </tr>
</table>

<h1 style="color:green;">Comments to date</h1>
<%= render @topic.comments.reverse_order %>
<h1 style="color:red;" > Make comments</h1>
<%= render 'comments/form' %>
